@import 'variables';

html {
  background: url(images/background-rando.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    font-family: 'Tillana', cursive;
    margin: 0;
    #ribbon-left {
        position: absolute;
        width: 235px;
    }
    #ribbon-right {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 235px;
    }
    #logos-container {
        position: absolute;
        right: 4%;
        top: 4%;
        #logo-accomp {
            width: 90px;
        }
        #logo-snam {
            width: 130px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 130%;
        }
    }
    #img-container {
            position: absolute;
            top: 30%;
            left: 10%;
            width: 80%;
        #img-benoit {
            border-radius: 250px;
            width: 200px;
            -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.7);
            -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.7);
            box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.7);
        }
        #logo-accomp {

        }
        #slogan {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 250px;
            font-weight: 900;
            font-size: 2em;
            color: $white;
        }

    }
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    nav {
        font-weight: 900;
        font-size: 1.5em;
        text-align: center;
        ul li {
            display: inline-block;
            padding: 10px 20px;
            border-radius: 13px;
            margin-right: 5px;
            margin-left: 5px;
            cursor: pointer;
            color: $white;
            transition:0.3s;
            &:hover, &.focused {
                color: $black;
                background-color: $white;
            }
        }
    }
}



